<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <variable name="appName" value="velocity-service" />
    <variable name="logFormat" value="${level:uppercase=true}:${longdate}:${callsite:fileName=true:includeSourcePath=false:skipFrames=1}:${message}" />

    <!-- the targets to write to -->
    <targets>
        <target xsi:type="File"
                name="logFile"
                fileName="${gdc:item=logDirectory}${appName}_${shortdate}.log"
                archiveEvery="Day" maxArchiveFiles="30"
                layout="${logFormat}"/>
        <target xsi:type="ColoredConsole"
                name="console"
                layout="${logFormat}"
                useDefaultRowHighlightingRules="false"
                detectConsoleAvailable="false">
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="DarkRed"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="DarkRed"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="DarkGreen"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="console,logFile" />
    </rules>
</nlog>